.dashboard-container {
  display: flex;
  flex-direction: row; /* Align sidebar and content horizontally */
  height: 100vh; /* Full height of the viewport */
  background-color: #f0f0f0; /* Let the background color take over */
  color: #333;
  margin: 0; /* Remove any extra margin */
  padding: 0; /* Remove any extra padding */
}
  
.sidebar {
  width: 15%; /* Sidebar width */
  box-sizing: border-box;
  height: 100vh; /* Full height of the viewport */
  margin: 0; /* Remove all margins */
  background-color: #2b2727;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 0 20px 24px;
  overflow-y: auto;
  position: fixed; /* Stick to the left */
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000; /* Ensure it stays above other content */
}
  
  .sidebar h2 {
    align-self : center;
    margin-bottom: 50px;
    font-size: 2.0em;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 50px; /* Add spacing between icons */
  }
  
  .sidebar ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.0em;
    cursor: pointer;
  }
  
  .sidebar ul li:hover {
    color: #ffffff; /* Change color on hover */
    transform: scale(1.1); /* Slightly enlarge the icon on hover */
    transition: transform 0.2s ease-in-out;
  }
  
  .dashboard-content {
    flex: 1; /* Take the remaining space */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .dashboard-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .dashboard-container p {
    font-size: 1.5em;
  }