/* Header.module.css */
.header {
    background-color: #333;
    padding: 9px;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
  }
  
.title {
    color: white;
    font-size: 20px;
    flex-shrink: 0;

  }
  
.navlinks {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap : 50px;
  }
