.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
  }
  
  .login-form input {
    padding: 10px;
    font-size: 16px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    color: #000000;
  }
  
  .login-form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2b2727;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-form button:hover {
    background-color: #e70e0e;
  }

  .message {
    color: #000000; /* Set the text color to black */
    font-size: 1em; /* Adjust the font size if needed */
    margin-top: 10px; /* Add spacing above the message */
    text-align: center; /* Optional: Center the message */
  }